@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Lato');

* {
    font-family: "Roboto", "Open Sans", "Lato", "sans-serif", "serif";
    font-weight: 400;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #303032;
    padding: 60px 0;
  }
  
  section {
      display: grid;
      grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
      grid-gap: 40px;
  }
  
  .text_title {
    font-size: 24px;
    line-height: 28px;
    color: #ecf0f1;
  }

  .text_medium {
    font-size: 16px;
    line-height: 20px;
    color: #ecf0f1;
  }
  
  .cards {
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    grid-gap: 40px;
  }
  
  .card {
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    background-color: #39393b;
    /* cursor: pointer; */
    transition: ease 0.3s;
  }
  
  .card:hover {
    transform: translateY(-7px);
  }
  
  .card_image_container {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
  }
  
  .card_image_container img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .card_content {
    padding: 20px;
  }
  
  .card_title {
    margin-bottom: 20px;
  }
  
  .card_info {
    display: flex;
    align-self: end;
    align-items: center;
  }
  
  .card_button {
    margin-left: auto;
    padding: 5px 10px;
  }

  button.card_button {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #9452d1;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  button.card_button:hover {
    background-color: #62378b;
  }

  button.card_button:active {
    background-color: #62378b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  @media only screen and (max-width: 1000px) {
    .card {
      grid-column-end: span 6;
    }
  }
  
  @media only screen and (max-width: 700px) {
    main {
      grid-gap: 20px;
    }
    .card {
      grid-column-end: span 12;
    }
  }
  
  @media only screen and (max-width: 500px) {
    main {
      grid-template-columns: 10px repeat(6, 1fr) 10px;
      grid-gap: 10px;
    }
    .cards {
      grid-column: 2 / span 6;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 20px;
    }
    .card {
      grid-column-end: span 6;
    }
}